*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.nln-blck{
    display: inline-block;
}

.rltv{
    position: relative;
}

/* Creazione layout in tre macroaree */
.container{
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

footer {
    height: 10%;
}

header {
    height: 10%;
}

main {
    height: 80%;
    flex-wrap: wrap;
}
/* fine layout */

/* cerazione header */
header {
    justify-content: flex-end;
}

.fa-grip, .fa-maximize, .fa-microphone-slash {
  font-size: 1.125rem;
  vertical-align: middle;
}

.speaker, .arrows{
    color: white;
    background-color: gray;
    display: inline-block;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 8%;
}
/* fine header */

/* inizio main */
.card img{
    width: 100%;
    height: 100%;
}

.Name{
    color: white;
    background-color:rgba(192,192,192,0.3);
    padding: 5px;
    position: absolute;
    bottom: 4px;
    left: 7px;
}

.card {
    width: calc(100% / 7);
    padding: 5px;
    height: calc(100% / 5);
}
/* fine main */
/* inizio footer */

footer{
    background-color: #3F5874;
    justify-content: space-between;
}

.mic,.video, .center > div {
    color: white;
    text-align: center;
    margin: 15px 5px;
}

.fa-microphone, .fa-video, .center > div > i {
    font-size: 20px;
}

.fa-caret-up{
    font-size: 10px;
    vertical-align: middle;
}

.right{
    background-color: lightgray;
    color: red;
    text-align: center;
}
